<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Livros Detalhe</title>
</head>
<body>
    <form method="post" action="Incluir">
        <label>Título:</label>
        <input name="titulo" type="text" />
        <br>
        <label>Autor:</label>
        <input name="autor" type="text" />
        <br><br>
        <button>Adicionar</button>
    </form>
</body>
</html>